<section class="logo">
      <span>
        <a class="" routerLink="">Netflix</a>
      </span>
      <span>Developed by <br>Chukwunonso Asadu</span>
</section>



<section class="links">
  <ul class="site-info">
    <li>About Us</li>
    <li>Privacy</li>
    <li>Policy</li>
    <li>Support</li>
  </ul>
  <ul class="other">
    <li>Video</li>
    <li>Books</li>
    <li>Graphics</li>
    <li>Audio</li>
  </ul>
</section>

<section class="contact-info">
  <span class="number">+23470 3632 5998</span>
  <span class="email">chukwunonsokelvin@gmail.com</span>
  <span class="website"><a href="#">www.duchtec.com</a></span>
</section>
